{% extends 'base.html' %}

{% block title %}Edit post{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="form-group">
    <form method="POST" action="make_post/" id="postform" enctype="multipart/form-data">
        {% csrf_token %}
        Post image:
        <input id="id_image" type="file" class="form-control" name="postimage"><br>
        Post:
        <textarea name="post_content" class="form-control" cols="40" rows="5"></textarea><br>
        <input type="submit" class="btn btn-success" value="Edit"/>
    </form> <br>
    <button class="btn btn-danger">Delete post</button>
</div>


{% endif %}

{% endblock %}