{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "editpost" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h2>{% trans "editpost" %}</h2>
<div class="form-group">
    <form method="POST" action="update/" id="postform" enctype="multipart/form-data">
        {% csrf_token %}
        {% trans "post" %}:
        <textarea name="post_content" class="form-control" cols="40" rows="5">{{ post.post }}</textarea><br>
        <button type="submit" class="btn btn-success">{% trans "edit" %}</button>
    </form> <br>
    <a class="btn btn-danger" href="{% url 'deletepost' post_id=post.post_id %}">{% trans "Delete post" %}</a>
</div>


{% endif %}

{% endblock %}