{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "map" %}{% endblock %}

{% block head %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}

<p class="small text-center">Map is currently not functional. (Has no routes to display)</p>
<div id='map' width="100%" style="height:400px"></div>

<button class="btn btn-block btn-success mt-2" data-toggle="collapse" data-target="#map_options">{% trans "View map options" %}</button>

<div id="map_options" class="collapse">
        <form>
            <input type="checkbox" name="map_option" value="routes" checked>{% trans "Show routes" %}<br>
            <input type="checkbox" name="map_option" value="places" checked>{% trans "Show locations" %}<br>
        </form>
</div>

{% endblock %}

{% block javascript %}
<script>
    const height = (0.7 * $( window ).height()) - $('header').height();//-$('footer').height();
    $('#map').height(height);

    mapboxgl.accessToken = '{{ mapbox_access_token }}';
    var map = new mapboxgl.Map
    ({
        container: 'map',
        style: 'mapbox://styles/mapbox/outdoors-v10'
    });
</script>

{% endblock %}
