body
{
    margin: 0px auto;
    background-color: #064b34;
}

.bg-pinegreen
{
    background-color: #064b34;
}

.content
{
    background-color: #ffffff;
}

.profile-hero
{
    height: 15rem;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.profile-image
{
    display: block;
    margin: 0px auto;
    margin-top: -7rem;
    border: .5rem #064b34 solid;
    border-width: .5rem;
    width: 12rem;
    height: 12rem;
}

.profile-nav
{
    border-bottom: .3rem #064b34 solid;
}



/* Custom bootstrap adjustments */

.navbar 
{
    padding: 1rem 1rem; /* 0.5rem to 1rem */
}

.navbar-dark .navbar-nav .nav-link
{
    color: rgba(255, 255, 255, 1);
}

.custom-toggler .navbar-toggler-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler
{
    border-color: rgba(255, 255, 255, 1);
} 


.nav-item
{
    font-weight: bold;
}
