{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "login" %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}

  <div class="alert alert-danger" role="alert">
    <b>{% trans "youcannotloginif" %}</b><br>
    {% trans "pleaselogouttologin" %} :)<br>
    {% trans "youcanlogout" %} <a href="/logout/">{% trans "here" %}</a>
  </div>

{% else %}
<div class="row">
  <div class="col-12">
    <h2>{% trans "login" %}</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {% include 'includes/bs4_form.html' with form=form %}
      <button type="submit" class="btn btn-primary">{% trans "login" %}</button>
    </form>
  </div>  
</div>
{% endif %}
{% endblock %}
