{% extends 'base.html' %}

{% block javascript %}
<script>
  $("#id_username").change(function () 
  {
    var username = $(this).val();
    var alerts = document.getElementById('alerts');
    $.ajax(
    {
      url: '/ajax/validate_username/',
      data:
      {
        'username': username
      },
      dataType: 'json',
      success: function(data)
      {
        if(data.is_taken)
        {
          alerts.innerHTML = "Username <b>" + username + "</b> is already taken!";
          alerts.style.display = "block";
        }

        else
        {
          alerts.innerHTML = "";
          alerts.style.display = "none";
        }
      }

    });
  });
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h2>Sign up</h2>
    <div class="alert alert-warning" role="alert" id="alerts" style="display: none;">
    </div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign up</button>
    </form>
  </div>
</div>
  
{% endblock %}