{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm">

  {% if user.is_authenticated %}
    <h2>Welcome back, {{ user.username }}!</h2>
    <h4>Here are the most recent posts:</h4>
    <ul class="list-unstyled">
      {% if args.post_count != 0 %}
      {% for p in args.post_list %}
      <li class="media mt-3 p-3">
              <img class="mr-3 rounded-circle follower-thumbnail" src="/media/{{ p.post_author.userprofile.profile_image }}" alt="{{ u.username}}" width="64" height="64">
              <div class="media-body">
                <img src="/media/{{ p.image }}" alt="{{ u.username}}" width="128" height="128">
                 <h5 class="mt-0">{{ p.post_author }}{% if p.post_author.id == user.id %} <a href="post/edit_post/">Edit post</a> {%endif%}</h5>
                  {{ p.post }}<br>
                  <div class="like_amount_count" id="{{ p.post_id }}" style="display: inline;">{{ p.like_amount }}</div>
                  <i class="fas fa-arrow-up" onclick="modify_like('plus')"></i>
                  <i class="fas fa-arrow-down" onclick="modify_like('minus')"></i>
      
                  
              </div>
      </li>
      {% endfor %}
      <p class="text-muted small text-center">End of posts</p>
      {% else %}
      <p>There are no posts to show</p>
      {% endif %}
    </ul>

  {% else %}
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 rounded-top" src="/static/images/slider-1.jpeg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>A Social Network</h5>
              <p>Connect with others</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded-top" src="/static/images/slider-2.jpeg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Find routes in map</h5>
              <p>(in the future)</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded-top" src="/static/images/slider-3.jpeg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Sign up today!</h5>
              <p>It will be worth your while</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <h3 class="text-center mt-4">Welcome to the HikingApp</h3>
  {% endif %}
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
function modify_like(type)
{
    var object = event.target;
    var like_amount = object.parentElement.getElementsByClassName("like_amount_count")[0];

    var user_id = '{{ request.user.id }}';
    var post_id = like_amount.id;


    $.ajax({
        url: '/ajax/modify_like/',
        data: {
            'user_id': user_id,
            'post_id': post_id,
            'request_type': type
        },
        dataType: 'json',
        success: function (data) {
            console.log(data);
            like_amount.innerHTML = data.like_count;
        }
    });
}
</script>
{% endblock %}