{% extends 'base.html' %}

{% block title %}{{ requested_user.username }}{% endblock %}

{% block content %}

<div class="profile-hero rounded-top" style="background-image: url('/static/images/default_profile_header.jpg');"></div>
<div class="row pt-3 pl-3 pr-3">
    <div class="col-md-5 text-center">
        <img src="/media/{{ requested_user.userprofile.profile_image }}" class="rounded-circle profile-image img-fluid" alt="Profile image"  />
        <h3 class="mt-3">{{ name }}</h3>
        {% if user.id != requested_user.id %}
        {% if followed %}
        <form method="POST" action="unfollow/" id="unfollowform">
            {% csrf_token %}
            <h5><button type="submit" class="btn btn-success" name="followbtn">Unfollow</button> @{{ requested_user.username }} </h5>
        </form>
        {% else %}
        <form method="POST" action="follow/" id="followform">
            {% csrf_token %}
            <h5><button type="submit" class="btn btn-success" name="followbtn">Follow</button> @{{ requested_user.username }} </h5>
        </form>
        {% endif %}

        {% endif %}
    </div>
    <div class="col-md-7">
        <div class="btn-group d-flex" role="group">
            <button type="button" class="btn btn-success w-100" data-toggle="modal" data-target="#followingModal" id="following_modal_button">Following: {{ requested_user.userprofile.following_amount }}</button>
            <button type="button" class="btn btn-success w-100" data-toggle="modal" data-target="#followersModal" id="followers_modal_button">Followers: {{ requested_user.userprofile.follower_amount }}</button>
            <div class="btn-group w-100" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                    {% if user.id != requested_user.id %}
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Report</a>
                    {% elif user.id == requested_user.id %}
                    <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <p class="pt-3">
            <i>{% if requested_user.userprofile.description != '' %} {{ requested_user.userprofile.description }}<br> {% endif %}</i>
            {% if age != None %} {{ age }} years old<br>{% endif %}
            {% if requested_user.userprofile.country != '' and requested_user.userprofile.city != '' %} From: {{ requested_user.userprofile.city }}, {{ requested_user.userprofile.country }} <br> 
            {% elif requested_user.userprofile.country %} {{ requested_user.userprofile.country }}<br>{% endif %}
        </p>
    </div>
</div>
<div class="col-12"><hr></div>
<div class="row p-1 justify-content-center align-self-center">
    <div class="col-md-9">
        <h4>Posts:</h4>
        <p>My first post here</p>
    </div> 
</div>

<div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="followingModalLabel">{{ requested_user.username }} is following</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="following_modal_body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>


<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="followersModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followersModalLabel">{{ requested_user.username }} followers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="followers_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });

    $("#following_modal_button").click(function() 
    {
        var modal_body = document.getElementById("following_modal_body");
        var user_id = '{{ requested_user.id }}';
        modal_body.innerHTML = "";
        $.ajax({
            url: '/ajax/get_followings/',
            data: {
                'requested_user_id': user_id
            },
            dataType: 'json',
            success: function (data) {
                if(data.data.length == 0)
                {
                   modal_body.innerHTML = "This user is currently not following anyone.";
                }

                else
                {
                    for(var object in data.data)
                    {
                        modal_body.innerHTML += "<a href=\"/user/" + data.data[object].user_id + "/\"><img src=\"" + data.data[object].picture + "\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\""+ data.data[object].username + "\" class=\"follower-thumbnail m-1\" width=\"96\" height=\"96\"></a>";
                    }
                }
                
            }
        });

    });

    $("#followers_modal_button").click(function() 
    {
        var modal_body = document.getElementById("followers_modal_body");
        var user_id = '{{ requested_user.id }}';
        modal_body.innerHTML = "";
        $.ajax({
            url: '/ajax/get_followers/',
            data: {
                'requested_user_id': user_id
            },
            dataType: 'json',
            success: function (data) {
                if(data.data.length == 0)
                {
                   modal_body.innerHTML = "This user is currently not following anyone.";
                }

                else
                {
                    for(var object in data.data)
                    {
                        modal_body.innerHTML += "<a href=\"/user/" + data.data[object].user_id + "/\"><img src=\"" + data.data[object].picture + "\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\""+ data.data[object].username + "\" class=\"m-1 follower-thumbnail\" width=\"96\" height=\"96\"></a>";
                    }
                }
                
            }
        });
    });
</script>
{% endblock %}